@model ScreenItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScreenItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenItemTakenDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenItemTakenDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenItemAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenItemAction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScreenItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
